
@{
    ViewBag.Title = "Erro404";
}

<h2>Erro404</h2>

<p>
    Houve um problema ao acessar a página: @Request.QueryString["aspxerrorpath"]. Página não encontrada.
</p>

<div style="position:relative; display:normal; width:300px; margin:0 auto;">
    <a class="btn-default btn" href="@Request.QueryString["aspxerrorpath"]">Tentar novamente</a>
    <a class="btn-default btn" href="/Dashboard/Index">Início</a>
</div>