
@{
    ViewBag.Title = "Questionários";
}

@section Scripts{
    <script type="text/javascript">
        $("#btnProcurar").click(function () {
            if ($("#txtSearch").val() == "" || $("#txtSearch").val() < 1) {
                alert(". Informe algum termo de algum questionario.");
            }
        });

    </script>
}

<h2>Meus Questionários</h2>
<form method="post" name="formSearch" id="formSearch" action="/Questionarios/Buscar">
    <div class="form-inline">
        <input type="text" name="txtSearch" id="txtSearch" placeholder="Procurar..." class="form-control" style="width:70%; margin-right:5%;" />
        <button type="button" name="btnProcurar" id="btnProcurar" class="btn btn-primary">Pesquisar</button>
        <button type="button" name="btnNovo" id="btnNovo" class="btn btn-success">Novo questionário</button>
    </div>
</form>
<hr/>
<h3>Questionários Cadastrados</h3>
<table class="table">
    <thead>
        <tr>
            <td>#ID</td>
            <td>Título</td>
            <td>Início</td>
            <td>Fim</td>
            <td>Guid</td>
            <td>Opções</td>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>1</td>
            <td>Título do questionário 1</td>
            <td>11/11/1111</td>
            <td>11/11/1111</td>
            <td>1111-1111-1111-1111-1111</td>
            <td>
                <a href="javascript:;" data-fancybox data-src="#alterarQuestionario" class="btn btn-primary">Alterar</a>
                <a href="/Questionarios/ExcluirQuestionario" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Título do questionário 2</td>
            <td>22/22/2222</td>
            <td>22/22/2222</td>
            <td>2222-2222-2222-2222-2222</td>
            <td>
                <a href="javascript:;" data-fancybox data-src="#alterarQuestionario" class="btn btn-primary">Alterar</a>
                <a href="/Questionarios/ExcluirQuestionario" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>

@*Fancybox ALTERAR QUESTIONARIO*@
<div style="display: none; min-width: 300px; width: 600px" id="alterarQuestionario">
    <h3>Dados do questionário</h3>
    <form method="post" name="formAlterar" id="formAlterar" action="/Questionarios/AlterarQuestionario">
        <div class="form-group">
            <label for="txtTitulo">Título:</label>
            <input type="email" required name="txtTitulo" id="txtTitulo" class="form-control" />
        </div>
        <div class="form-inline">
            <div class="form-group">
                <label for="txtDtInicio">Início:</label>
                <input type="date" required name="txtDtInicio" id="txtDtInicio" class="form-control" />
            </div>
            <div class="form-group">
                <label for="txtDtFim">Fim:</label>
                <input type="date" required name="txtDtFim" id="txtDtFim" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="txtFeedback">Feedback ao final do questionário:</label>
            <textarea name="txtFeedback" rows="4" class="form-control">
            </textarea>
        </div>
        <div class="form-group">
            <label for="txtGuid">Guid para acesso ao questionário:</label>
            <input type="text" required name="txtGuid" id="txtGuid" class="form-control" />
        </div>
        <div class="form-inline">
            <button type="button" name="btnConfirmar" id="btnConfirmar" class="btn btn-success">Confirmar</button>
            <button type="button" name="btnCancelar" id="btnCancelar" class="btn btn-danger"
                    onclick="javascript: $.fancybox.close();">
                Cancelar
            </button>
        </div>
    </form>
</div>